@include keyframes(ringing) {
	100% {
		@include transform(rotate(0deg));
	}
	20% {
		@include transform(rotate(0deg));
	}
	15% {
		@include transform(rotate(-6deg));
	}
	10% {
		@include transform(rotate(6deg));
	}
	5% {
		@include transform(rotate(-6deg));
	}
	0% {
		@include transform(rotate(6deg));
	}
}

$active-color: green;
$inactive-color: rgb(157, 38, 29);

.callClient {
	height:100%;
	width:100%;
	font-family:$pretty-font-family;
	.no-call, .in-call, .loading {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.icon-phone {
		&.active {
			color:$active-color;
		}
		&.inactive {
			color:$inactive-color;
		}
	}
	.error {
		color:rgb(157, 38, 29);
	}
}
.no-call {
	text-align:center;
	display:none;
	z-index:10;
	padding-top:5em;
	.icon-phone {
		@include transition(all 1s ease-in-out);
		display:block;
		font-size:10em;
		text-shadow:1px 1px 5px rgba(0,0,0,0.75);
		&.ringing {
			color:green;
			@include animation(ringing 1s infinite);
		}
		&.idle {
			color:#333;
		}
	}
	p {
		font-size:1.5em;
		color:#999;
		text-shadow:1px 1px 0px rgba(0,0,0,0.5);
	}

	.btn {
		@include unselectable();
		@include transition(all 0.5s ease-in-out);
		cursor:pointer;
		padding:4em;
		border-radius:1em;
		width:25em;
		margin:auto;
		&:hover {
			background:rgba(0,0,0,0.3);
			.icon-phone.idle {
				color:yellow;
			}
		}
	}
}

.unmuted {
	.icon-ban-circle {
		opacity:0;
	}
}

.webrtc-error {
	display:none;
	text-align:center;
	margin:auto;
	padding-top:5em;
	.reason {
		display:none;
	}
	.icon-stack {
		font-size:10em;
	}
	.base {
		color:#ccc;
	}
}
.in-call {
	display:none;
}

$call-button-height:5em;
$call-button-width:6em;
.call-controls {
	position:absolute;
	width:100%;
	bottom:0;
	.icon-ban-circle, .icon-phone {
		@include transition(all 0.5s ease-in-out);
	}
	.buttons.three {
		margin: auto;
		width: 3 * $call-button-width;
		height: $call-button-height;
	}
	button {
		@include unselectable();
		@include transition(all 0.5s ease-in-out);
		box-shadow: -2px -2px 3px rgba(0,0,0,0.5);
		cursor:pointer;
		font-size:1em;
		display:block;
		height: $call-button-height;
		width: $call-button-width;
		float:left;
		background:#111;
		color:#aaa;
		border:0px;
		border-right:1px solid #1f1f1f;
		&:first-child {
			border-top-left-radius:10px;
		}
		&:last-child {
			border-top-right-radius:10px;
			border-right:0;
		}

		&:hover {
			background:#1f1f1f;
			.icon-phone {
				color:$inactive-color;
			}
			&.unmuted {
				.icon-ban-circle { // show post-click state on hover
					opacity:1;
				}
			}
		}
	}
	.mute-audio, .mute-video {
		> span {
			font-size: 1.8em;
			line-height: 1.8em;
		}
	}
}