.swatch {
  width:20px;
  height:20px;
  display:inline-block;
  margin-left:3px;
  background:black;
  cursor:hand;
  box-shadow:1px 1px 1px rgba(0,0,0,0.75);
}

.pencil-button {
  color:gold;
}
.eraser-button {
  color:pink;
}
.tint-button {
  color:red;
}

.drawingClient {
  @include unselectable;
  display:none;
  width:100%;
  height:100%;
  font-family: $pretty-font-family;
  .tools {
    position:absolute;
    height:100%;
    width:25px;
    background:rgba(0,0,0,0.25);
    z-index:10;
    font-size:20px;
    text-align: center;
    .tool {
      margin-bottom:0.5em;
      &:hover, &.tool-highlight {
        background:rgba(255,255,255,0.3);
      }

      position: relative;
      .tool-options {
        position:absolute;
        left:0;
        top:0;
        padding-left:25px;
        &.active {
          .tool-options-contents {
            width:900px;
            height:auto;
            opacity:1;
          }
        }
      }
      .tool-options-contents {
        padding:5px;
        @include transition(all 0.25s ease-in-out);
        text-align: left;
        background:rgba(0,0,0,0.55);
        width:0px;
        height:0px;
        opacity:0;
        overflow:hidden;
      }
    }
    .explanation {
      font-size:0.7em;
    }
    i {
      width:100%;
      display:block;
    }
  }
  .drawarea {
    position:absolute;
    width:100%;
    padding-left:25px;
    height:100%;
    .canvas-area {
      width:100%;
      height:100%;
      position:relative;
    }
    canvas {
      cursor:crosshair;
      &:focus, &:active {
        cursor:crosshair;
      }
      position:absolute;
      top:0;
      left:0;
      &.background {
        z-index:1;
      }
      &.foreground {
        z-index:2;
      }
      &.active{
        z-index: 3;
      }
    }
    .paper {
      border-top-right-radius:10px;
      box-shadow: inset 0px 0px 100px rgba(0,0,0,0.55);
      position:absolute;
      width:1000px;
      height:1000px;
      z-index:0;
      background:url(../noisy_grid.png) repeat;
    }
  }
}
