$nav-primary: #2A2C2B;

#module-buttons {
  background: darken($nav-primary, 20%);
  padding: 0.25em 0;
  .button {
    text-align: center;
    height: 2em;
    font-size: 1.2em;
  }
  .button-description {
    display: none;
  }
}
.tabButton.active {
  color: #0084FF;
}

.functionality {
  @include unselectable;
  @include panel;
  width: $sidenav-width;
  background: $nav-primary;
  z-index: 120;
  button {
    background: transparent;
    text-align: left;
    color: lighten($nav-primary, 25%);
  }
}

.channel-switcher {
  button {
    width: 100%;
    font-size: 1em;
    padding: 0.5em 0.75em 0.5em 2em;
    .channel-button-content {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .channel-name, i {
      display: block;
      color: lighten($nav-primary, 50%);
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.2em;
      line-height: 1.3em;
      height: 100%;
      text-align: center;
      color: lighten($nav-primary, 15%);
      text-shadow: 1px 1px 0px darken($nav-primary, 10%);
    }
  }
  button.active {
    background: lighten($nav-primary, 5%);
  }
  .channel-button-body {
    width: 100%;
  }
  .topic, .users {
    font-size: 0.85em;
    width: 100%;
    display: block;
  }
  .topic {
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .users {
    color: #686868;
    margin-top: 0.5em;
    i {
      color: inherit;
      display: inline-block;
    }
    .active {
      color: #277527;
    }
  }
  button.active {
    .topic {
      height: auto;
      white-space: normal;
      color: lighten($nav-primary, 30%);
    }
  }
}

.channels button {
  border-bottom: 1px solid lighten($nav-primary, 5%);
}

.join-channel button {
  height: 2em;
  font-size: 1.2em;
  text-align: center;
}
.join-channel input {
  display: none; // toggles on and off, initial is off
}

.functionality .options {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;

  button {
    font-size: 1.5em;
  }

  .button-description {
    display: none;
  }
}
