$nav-primary: #E4EFF1;

#module-buttons {
  .button {
    text-align: center;
    height: 2em;
    font-size: 1.2em;
  }
  .button.active {
    color: #0084FF;
  }
  .button-description {
    display: none;
  }
}

.functionality {
  @include unselectable;
  @include panel;
  width: $sidenav-width;
  background: $nav-primary;
  z-index: 120;
  button {
    background: transparent;
    text-align: left;
  }
}

.channel-switcher {
  button {
    position: relative;
    width: 100%;
    font-size: 1em;
    padding: 0.25em 1em;
    .channel-name, i {
      display: block;
      color: darken($nav-primary, 50%);
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.2em;
      line-height: 1.75em;
      height: 100%;
      text-align: center;
    }
  }
  button.active {
    background: darken($nav-primary, 10%);
  }
}

.channels button {
  border-bottom: 1px solid #efefef;
}

.join-channel button {
  height: 2em;
  font-size: 1.2em;
  text-align: center;
}
.join-channel input {
  display: none; // toggles on and off, initial is off
}

.functionality .options {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.25em 0;

  button {
    font-size: 1.5em;
  }

  .button-description {
    display: none;
  }
}
