* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html, body {
	text-shadow:1px 1px 1px #151515;
	background:#222;
	background:url(/noisy_net.png) repeat;
	color:#dfdfdf;
	font-family:monospace;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	text-rendering:optimize-legibility;
}
h1 {
	font-size:1.7em;
}
h2 {
	font-size:1em;
}
h1, h2 {
	color:#999;
	font-family:sans-serif;
	font-weight:normal;
	font-style:italic;
	border-bottom: 1px solid #444;
}
div > h1:first-child, div > h2:first-child, div > h3:first-child {
	margin-top:0px;
}
a {
	color:white;
	&:hover {
		color:white;
	}
	&:visited {
		color:#999;
	}
}
#main {
	width:100%;
	height:100%;
	max-height:100%;
	max-width:100%;
}
#header {
	height:5%;
	padding:1em;
	h1 {
		display:inline-block;
		margin:0px;
		margin-right:1em;
		padding:0px;
		cursor:pointer;
		border-bottom:0px;
		color:#efefef;
		transition:all 0.25s ease-in-out;
		&:hover {
			color:gold;
		}
	}
}

.header {
	font-family:sans-serif;
}
#panes {
	height:95%;
	position:relative;
	& > section {
		height:100%;
		width:100%;
		position:absolute;
		top:0;
		left:0;		
	}
	#coding {
		display:none;
	}
}


#codearea {
	height:100%;
	overflow:hidden;
	#codelog {
		width:50%;
		float:left;
	}
	#result_pane {
		width:50%;
		float:right;
		word-break:break-word;
	}

	.CodeMirror {
		background:rgba(109,116,15,0.07);
		width:100%;
		height:100%;
	}
	& > div {
		height:100%;
	}
	textarea {
		width:100%;
		height:100%;
	}
	#repl-frame {
		width:100%;
		height:50%;
	}
	#result_pane {
		& > div {
			height: 50%;
			padding:1em;
		}
		iframe {
			height:90%;
			width:100%;
		}
	}
}



#chatarea {
	position:relative;
	height:95%;
	& > div {
		height:100%;
		padding-bottom:0;
	}
}
#chatinput {
	padding:0.5em 1em;
	height:5%;
}
$supportbar-width: 300px;
#chatlog {
	overflow:hidden;
	max-height:100%;
	width:100%;
	padding-right:$supportbar-width;
	.messages {
		padding:1em;
		width:100%;
		height:100%;
		overflow-y:auto;
	}
}
#supportbar {
	width:$supportbar-width;
	position:absolute;
	top:0;
	right:0;
	padding:1em;
	padding-top:0px;
}
#userlist {
	height:20%;
	width:100%;
	overflow-y:auto;
}
#linklog {
	height:80%;
	width:100%;
	z-index:4;
	position:relative;
	overflow-y:auto;
}
#linklog object {
	display:block;
	margin-bottom:1em;
	width:100%;
	height:auto;
}
#linklog a {
	display:block;
	margin-bottom:1em;
}
.imageThumbnail {
	width:100%;
	max-width:100%;
	margin-bottom:1em;
	a {
		display:block;
	}
	img {
		width:100%;
		height:auto;
		border-radius:5px;
	}
}
.header {
	position:relative;
}
.header {
	span.options {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 1em;
		font-style: italic;
		cursor:pointer;
		font-size:0.78em;
	}
	div.options {
		font-size:0.7em;
		display:none;
		margin-top:-1em;
		margin-bottom:1em;
	}
}
.chatMessage {
	overflow: hidden;
	margin:0 0 0.25em 0;
	&:nth-child(2n) {
		background:#2f2f2f;
		background:rgba(100,100,127,0.1);
	}
	&.highlight {
		background:#555;
		background:rgba(109,116,255,0.15);
		.time {
			color:#efefef;
		}
	}
	& > div {
		display:inline-block;
		padding:0.25em 0.5em;
	}

	.body {
		word-break:break-word;
	}
	.time {
		color:#666;
		float:right;
	}
	.nick {
		color:#53D940;
		width:8em;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		&.me {
			color:yellow;		
		}
		&.system {
			color:#CC2222;
		}
	}
}

#chatinput textarea {
	outline:none;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	padding:0.45em;
	border-radius:0.5em;
	border:none;
	box-shadow:inset 8px 8px 69px -8px #CCC;
}
#ghetto_templates {
	display:none;
}
.clearfix {
	display:block !important;
	clear:both;
}
.ident {
	font-family:sans-serif;
	padding-left:0.5em;
}
.ident.yes {
	color:green;
}
.ident.no {
	color:red;
}