// a sensible box model that makes all of this possible
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

// TODO proper webfont
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(https://themes.googleusercontent.com/static/fonts/unicaone/v2/z3VYemEbD7zsQFQLG6g3SrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
// }

// color              :
$white                : #fefefe;
$darkgrey             : #111;
$active-color         : rgba(71,178,250,0.7);
$error                : #C32D2D;
$success              : rgb(67, 100, 0);
$teagreen             : #dfebdf;
$softpink             : rgb(255, 228, 239);
$softblue             : rgb(200, 229, 255);
// fonts              :
$pretty-font-family   : 'Open Sans', 'Noto Sans', 'Ubuntu', sans-serif;
$monospace            : 'Droid Sans Mono', monospace;
// ui dimensions      :
$timestamp-width      : 12em;
$supportbar-width     : 300px;
$chatinput-height     : 6em;
$my-stream-height     : 103px;
$room-specific-height : 80px;
$repl-options-height  : 4em;

$nick-width           : 10em;
$sidenav-width        : 18em;

@mixin unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// hopefully phased out soon:
#ghetto_templates {
	display:none;
}

.flex-buttons {
	display: flex;
	.button, button {
		flex: 1 100%;
		text-align: center;
	}
}

.error { color: $error; }

button {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

.action-btn {
	padding: 0.25em 0.75em;	
	background-repeat: repeat-x;
	border-width: 1px 1px 2px 1px;
	border-color: #bbb;
	border-style: solid solid outset solid;
	border-radius: 3px;
	border-bottom-width: 1px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-top-width: 1px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: FeuraSansWeb, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	letter-spacing: normal;
	text-align: center;
	color: inherit;
	&.attached-to-top {
		border-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	&:active {
		border-bottom-width: 1px;
		box-shadow: inset 0px 1px 0px #555;
	}
}

code {
	background: #eee;
	padding: 0.1em;
}

.action-btn-primary {
	background-color: rgb(23, 147, 229);
	background-image: linear-gradient(rgb(76, 177, 255), rgb(23, 147, 229));
	border-color: rgb(23, 147, 229);
	color: $white;
}
.action-btn-delete {
	background-color: $error;
	border-color: $error;
	background-image: linear-gradient(lighten($error, 15%), $error);
	color: $white;
}
.action-btn-success {
	background-color: $success;
	border-color: $success;
	background-image: linear-gradient(lighten($success, 15%), $success);
	color: $white;
}


.button {
	cursor: pointer;
	@include unselectable;
}
.death-warning {
	color:red;
}

.emoji {
	width: 20px;
}

@mixin panel {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
}

@mixin clearfix {
	&:before, &:after {
    	content: " ";
    	display: table;
	}
	&:after {
    	clear: both;
	}
}

pre {
	margin:0px;
	padding:0px;
}
textarea {
	display: $pretty-font-family;
}
html, body {
	background: #fefefe;
	color:#111;
	font-family:$pretty-font-family;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	text-rendering:optimize-legibility;
	position:relative;
	font-size:14px;
	overflow:hidden;
}
h1 {
	font-size:1.8em;
	&.huge {
		font-size: 4em;
	}
}
h2 {
	font-size:1.25em;
}
h1, h2 {
	font-family: 'Unica One', $pretty-font-family;
	font-weight: normal;
}
div > h1:first-child, div > h2:first-child, div > h3:first-child {
	margin-top:0px;
}

@include keyframes(activity2) {
  100% {
    background:transparent;
  }
  75% {
  	background:rgba(120, 120, 220, 0.3);
    color:#efefef;
  }
  25% {
  	background:rgba(120, 120, 220, 0.3);
    color:#efefef;
  }
  0% {
  	background:transparent;
  }
}

@include keyframes(border-pulse) {
	100% {
		border:1px solid #333;
	}
	0% {
		border:1px solid #ddd;
	}
}

@include keyframes(wiggle) {
	100% {
		@include transform(rotate(0deg));
	}
	6% {
		@include transform(rotate(0deg));
	}
	4.5% {
		@include transform(rotate(-6deg));
	}
	3% {
		@include transform(rotate(6deg));
	}
	1.5% {
		@include transform(rotate(-6deg));
	}
	0% {
		@include transform(rotate(6deg));
	}
}

#is-private {
	@include panel;
	display:none;
	font-family: $pretty-font-family;
	z-index:1000;
	padding: 20em 25%;
	text-align:center;
	.remember-password {
		margin-top:1.5em;
	}
	.locked {
		@include unselectable;
		position: relative;
		text-align: center;
		width: 100%;
		height: 0;
		z-index: -1;
		top: -14em;
		.icon {
			font-size:30em;
		}
	}
}

#main {
	@include panel;
	padding-left:$sidenav-width;
	max-height:100%;
	max-width:100%;
	box-sizing:border-box;
	overflow:hidden;
}

.header h2 {
	position:absolute;
	height:100%;
	width:100%;
	font-size:1.6em;
}

.warn {
	color:#FF8B2C;
}

nav.header {
	@include panel;
	height: 30px;
	z-index:120;
	background:rgba(0,0,0,0.4);
	display:none; // temp
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.clearfix {
	float: none;
	clear:both;
}

.webshot-badge {
	display:inline;
	margin:0 0.5em;
	font-family:$pretty-font-family;
	.information {
		display:none;
		background:rgba(0,0,0,0.25);
	}
	.badge-title, .information {
		font-size:0.8em;
		padding:0.3em 1em;
	}
	.badge-title {
		display:inline;
		cursor:pointer;
	}
	&.active {
		.information {
			display:inline;
		}
		.badge-title {
			border-top-right-radius:0;
			border-bottom-right-radius:0;
			box-shadow:inset -1px -1px 1px rgba(0,0,0,0.75), inset 1px 1px 1px rgba(0,0,0,0.75);
		}
	}
}

#global-options {
	display:none;
	background: $teagreen;
	width:100%;
	height:100%;
	font-family: $pretty-font-family;
	padding: 2em;
	h1 {
		margin-top:0;
	}
	h1, h2 {
		font-family: $pretty-font-family;
	}
	.option {
		margin:1em;
	}
}

header {
	@include unselectable;
	@include panel;
	z-index:100;
}

.header {
	font-family:$pretty-font-family;
	position: relative;
	min-height:26px;
	z-index:2;
	.count {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.75em;
		div	{
			display:inline-block;
			margin-left: 0.5em;
			&.active {
				.value {
					color:green;
				}
			}
			&.total {
				.value {
					color:yellow;
				}
			}
		}
	}
}

#info-overlay {
	display: none;
}
#main-ui, #panes, #info-overlay {
	background: $teagreen;
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
	& > section {
		height:100%;
		width:100%;
		overflow: hidden;
		&.pinned-section {
			position: relative;
			float: left;
			width: 50%;
		}
	}
}


.media-opt-in {
	&.hidden {
		display:none;
	}

	position:absolute;
	top:40px;
	text-align: center;

  i {
  	@include transition(all 0.5s ease-out);
  	cursor:pointer;
  	display:block;
  	font-size:500%;
  }
  p {
  	padding: 0 1em;
  	margin:0;
  	margin-bottom: 2em;
  	font-family: $pretty-font-family;
  }
  .opting-button {
  	@include transition(all 0.5s ease-out);
  	cursor:pointer;
  	padding:1em;
  	margin-bottom:1em;
  	&:hover {
  		border-radius:5px;
  		background:rgba(0,0,0,0.25);
  		i {
  			color:$active-color;
  		}
  	}
  }
}

#chatting {
	position: absolute;
	height:100%;
}

.chat-panel {
	position:relative;
	height:100%;
	& > div {
		height:100%;
		padding-bottom:0;
	}
}

.pin-button {
	position: absolute;
	z-index: 1000;
	font-size:1.5em;
	right:0.5em;
	top:0;
	text-shadow: 1px 1px 0px #777, -1px -1px 0px #333;
	color: #111;
}

.chatChannel {
	height:100%;
	&.inactive {
		display:none;
	}
}

.chatinput {
	width:100%;
	padding:1em 1em 0 1em;
	position:absolute;
	bottom:0;
	left:0;
	height:$chatinput-height;

	.chat-input-control {
		@include transition(background 0.25s ease-out, color 0.75s ease-out);
		position:relative;
		width:100%;
		height:3em;
		box-shadow:inset 2px 2px 1px rgba(0,0,0,0.55),inset -2px -2px 1px -1px rgba(0,0,0,0.3);
		overflow:hidden;
	}
	textarea {
		background: $white;
		box-shadow: inset 1px 1px 2px #999;
		overflow:hidden;
		padding:0.75em 1em;
		font-size:1em;
		line-height:1.5em;
		position:absolute;
		top:0;
		left:0;
		outline:none;
		border:none;
		resize: none;
		width:100%;
		height:100%;
	}
}

.channel {
	height:100%;
	width:100%;
}
.button-group {
	height:100%;
	button {
		height:100%;
		padding: 0 1em;
		float:left;
		margin-right: 5px;
	}
}

.btn {
	cursor: pointer;
}

.channel-options {
	height:2em;
}
.room-specific {
	height: 10%;
	width:100%;
	padding-bottom:1em;
}
.chatarea {
	position:relative;
	overflow:hidden;
	max-height:100%;
	width:100%;
	height:100%;
	padding-right:$supportbar-width;
	&.expanded {
		padding-right: 0;
	}
	.messages {
		padding:1em;
		padding-bottom:0;
		width:100%;
		height:100%;
		overflow-y:auto;
	}
}
.chatarea-contents {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.messages-pane {
	@include panel;
	padding-bottom: $chatinput-height;
	background: $teagreen;
}

.close-button {
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	display:inline-block;
	padding:0.5em 0.75em;
	font-size:0.8em;
	background:rgba(0,0,0,0.85);
}

.unknown {
	color: orange;
}
.trusted {
	color: green;
}
.untrusted, .error, .errors {
	color: red;
}

hr {
	height: 1px;
	background: #333;
	border: 0;
	outline: 0;
}


.chatMessage {
	@include transition(all 0.25s ease-in-out);
	background: $white;
	box-shadow: inset 1px 1px 0px darken($white, 15%);
	margin: 0.5em 0;
	height: auto;
	position: relative;

	.pgp-armored-body {
		display: none;
	}
	.sub-icon {
		text-shadow: -1px 0px 0px white;
		top: 3px;
		left: 4px;
	}
	.fl {
		float:left;
		margin-right:10px;
	}
	&:nth-child(2n) {
		background:#2f2f2f;
		background:rgba(100,100,127,0.1);
	}
	&.highlight {
		background:#555;
		background:rgba(109,116,255,0.15);
		.time {
			color:#efefef;
		}
	}
	&.fromlog {
		background: #fafafa;
	}
	&.private.me, &.private {
		background:rgba(0,0,30,0.5);
		.private-icon {
			color:#00ffbb;
		}
	}
	& > div {
		vertical-align: top;
		display:inline-block;
		padding:0.25em 0.5em;
	}

	.body-text-area {
		.un-keyblock {
			display: none;
		}
		&.keyblocked {
			.body-content {
				display: none !important;
			}
			.un-keyblock {
				display: block;
			}
		}
	}

	.body {
		word-break:break-word;
		word-wrap:break-word;
		max-width:100%;
		pre {
			tab-size:3;
			white-space: pre-wrap;
			word-break:break-word;
		}
		width:100%;
		padding-left:$nick-width + 1em;
		padding-right:8em;

		border:1px solid transparent;
		&:focus {
			@include animation(border-pulse 1.5s 1s linear infinite alternate);
			border:1px solid #efefef;
			outline:none;
		}
	}
	.time {
		color:#666;
		position:absolute;
		top:0;
		right:0;
		width:$timestamp-width;
		text-align:right;
		white-space: nowrap;
		font-size:0.8em;
		padding-top:0.5em;
	}

	.nick {
		position:absolute;
		top:0;
		left:0;
		text-align: right;
		width:$nick-width;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		&.system {
			color:#CC2222;
		}
		&.me {
			color:yellow;
		}
		.decorators {
			@include unselectable;
		}
		.nick-decorator {
			margin-right: -5px;
		}
		.decorators .nick-decorator:last-child {
			margin-right: 0;
		}
		.nickname {
			display:inline;
			height: 1.4em;
		}
		.fa-stack {
			@include unselectable;
			width: 1.5em;
			height: 1.4em;
			line-height: 1.5em;
		}
		.transmitting {
			width: 10px;
			height: 10px;
			display: none;
			position: relative;
			&.active {
				display: inline-block;
			}
		}
		> .github-nickname {
			display: none;
			font-size: 1.2em;
		}
	}

	.mention {
		font-weight: bold;
	}
	.time, .message-options {
		@include transition(opacity 0.5s ease-in-out);
	}
	.message-options {
		right:0;
		position:absolute;
		top:0;
		opacity:0;
		z-index:5;
		> div {
			display: inline-block;

		}
	}
	&:hover {
		.time {
			opacity:0;
		}
		.message-options {
			opacity:1;
		}
	}
	.private-icon {
		position:absolute;
		left:$nick-width;
	}

	&.context, &.context-persistent {
		opacity:1 !important;
		background: rgba(120,120,220,0.3) !important;
		color: rgb(120, 153, 34);
	}
}

.quotation {
	cursor:pointer;
	color:rgb(120, 153, 34); // 4chan greentext color
	&:visited {
		color:rgb(100, 103, 14); // 4chan greentext color
	}
}
.clearfix {
	display:block !important;
	clear:both;
}
.ident {
	font-family:sans-serif;
}
.ident.yes {
	color:green;
}
.ident.no {
	color:orange;
}
.operator {
	color:red;
}

.progress-bar {
	@include transition(all 0.25s ease-out);
	opacity:0;
	position:absolute;
	bottom:0;
	width:100%;
	height:10px;
	background:#333;
	.meter {
		background:green;
		position:absolute;
		top:0;
		left:0;
		width:0;
		height:100%;
	}
	&.active {
		z-index:1000;
		opacity:1;
	}
}
.user-stream {
	padding:1em;
	padding-bottom:2em;
	font-family:$pretty-font-family;
	.innards {
		background:black;
		position: relative;
		height:100%;
		width:100%;
		border-radius:10px;
	}
	position:relative;
	.nick {
		padding:0.5em 1em;
		background:black;
		border-top-left-radius:10px;
		border-bottom-right-radius:10px;
		position: absolute;
		top:0;
		left:0;
		z-index:2;
	}
	video {
		position: absolute;
		width:100%;
		height:100%;
		z-index: 1;
	}
}

.growl {
	display: none;
}

.beginning-of-time {
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
	font-family: $pretty-font-family;
	border-radius: 20px;
}
