// a sensible box model that makes all of this possible
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

// color              :
$darkgrey             : #111;
$active-color         : rgba(71,178,250,0.7);
// fonts              :
$pretty-font-family   : 'Open Sans', 'Noto Sans', sans-serif;
$monospace            : 'Droid Sans Mono', monospace;
// ui dimensions      :
$timestamp-width      : 12em;
$supportbar-width     : 300px;
$chatinput-height     : 6em;
$my-stream-height     : 103px;
$room-specific-height : 80px;

$nick-width           : 10em;

::-webkit-scrollbar {
	width:10px;
}
::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.3);
	border-radius:5px;
}

@mixin unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// hopefully phased out soon:
#ghetto_templates {
	display:none;
}

.flex-buttons {
	display: flex;
	.button {
		flex: 1 100%;
	}
}

button {
	border: none;
	outline: none;
}

.button {
	cursor: pointer;
	@include unselectable;
}
.death-warning {
	color:red;
}

.emoji {
	width: 20px;
}

span.channelName {
	color:green;
}

@mixin panel {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
}

@mixin clearfix {
	&:before, &:after {
    	content: " ";
    	display: table;
	}
	&:after {
    	clear: both;
	}
}

pre {
	margin:0px;
	padding:0px;
}
textarea {
	font-family:$monospace;
}
html, body {
	background: #fefefe;
	color:#111;
	font-family:$monospace;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	text-rendering:optimize-legibility;
	position:relative;
	font-size:13px;
	overflow:hidden;
}
h1 {
	font-size:1.7em;
}
h2 {
	font-size:1em;
}
h1, h2 {
	color:#222;
	font-family: $pretty-font-family;
	font-weight:normal;
	font-style:italic;
	border-bottom: 1px solid #444;
}
div > h1:first-child, div > h2:first-child, div > h3:first-child {
	margin-top:0px;
}

@include keyframes(activity) {
  100% {
    background:transparent;
  }

  50% {
    background:rgba(40,40,111,0.9);
    box-shadow:inset 0px 0px 7px rgba(255,255,255,0.05);
  }

  0% {
  	background:transparent;
  }
}

@include keyframes(activity2) {
  100% {
    background:transparent;
  }
  75% {
  	background:rgba(120, 120, 220, 0.3);
    color:#efefef;
  }
  25% {
  	background:rgba(120, 120, 220, 0.3);
    color:#efefef;
  }
  0% {
  	background:transparent;
  }
}

@include keyframes(border-pulse) {
	100% {
		border:1px solid #333;
	}
	0% {
		border:1px solid #ddd;
	}
}

@include keyframes(wiggle) {
	100% {
		@include transform(rotate(0deg));
	}
	6% {
		@include transform(rotate(0deg));
	}
	4.5% {
		@include transform(rotate(-6deg));
	}
	3% {
		@include transform(rotate(6deg));
	}
	1.5% {
		@include transform(rotate(-6deg));
	}
	0% {
		@include transform(rotate(6deg));
	}
}

#is-private {
	@include panel;
	display:none;
	font-family: $pretty-font-family;
	z-index:1000;
	padding: 20em 25%;
	text-align:center;
	.remember-password {
		margin-top:1.5em;
	}
	.locked {
		@include unselectable;
		position: relative;
		text-align: center;
		width: 100%;
		height: 0;
		z-index: -1;
		top: -14em;
		.icon {
			font-size:30em;
			color:#444;
		}
	}
}

#main {
	@include panel;
	padding-left:30px;
	max-height:100%;
	max-width:100%;
	padding-top:40px;
	box-sizing:border-box;
	overflow:hidden;
}

.header h2 {
	position:absolute;
	height:100%;
	width:100%;
	font-size:1.4em;
}

.warn {
	color:#FF8B2C;
}

nav.header {
	@include panel;
	height: 30px;
	z-index:120;
	background:rgba(0,0,0,0.4);
	display:none; // temp
}

#buttons {
	height: 100%;
}

nav.functionality {
	@include unselectable;
	@include panel;
	width: 30px;
	background: $darkgrey;
	z-index: 120;
	// padding-top:30px;
	h1 {
		@include transition(all 0.25s ease-in-out);
		font-size:1.3em;
		vertical-align: top;
		margin:0px;
		padding:0px;
		display:inline-block;
		border-bottom:0px;
		color:#bbb;
	}
	.button-obscura {
		@include transition(all 0.1s ease-in-out);
		height:30px;
		width:30px;
		overflow: hidden;
		box-shadow:0px;
		&:hover h1.button {
			color: rgba(71,178,250,0.7);
		}
	}
	h1.button {
		height: 100%;
		width: 200px;
		cursor:pointer;
		@include transition(all 0.25s ease-in-out);
		padding:0;
		margin:0;
		border-top:1px solid transparent;
		border-bottom:1px solid transparent;
		.button-description {
			display: inline-block;
			vertical-align: top;
			height:100%;

			@include transition(all 0.25s ease-in-out);
			display:inline-block;
			overflow:hidden;
			margin-left:0;
		}
		i {
			@include transition(all 0.25s ease-in-out);
			display:inline-block;
			vertical-align: top;
			height:100%;
			line-height:1em;
			margin:0.35em 1em 0.35em 0.35em;
		}
		span {
			padding:0 0.5em;
			line-height: 1.5em;
		}
		&:hover {

		}
		&.active {
			i {
				color:greenyellow;
			}
		}

		&.activity {
			@include animation(activity 2.5s infinite);
			i {
				@include animation(wiggle 5s infinite);
			}
		}
		&:hover {
			color:#efefef;
			text-shadow:2px 2px 2px #252525;
			@include animation-name(none);
		}
	}
	h1.active {
		color:#efefef;
		background:#333;
		text-shadow:2px 2px 1px black;
		box-shadow:inset 0px 0px 5px -3px rgba(0,0,0,0.9),inset 0px -1px 10px rgba(0,0,0,0.3);
	}
	.options-list {
		position: absolute;
		bottom: 0;
		left: 0;
		.options {
			display:none;
			position:absolute;
			top:30px;
			right:0;
			width:300px;
			background:rgba(0,0,0,0.85);
			padding:1em;
			.option {
				display:inline-block;
				margin:0.25em 0;
			}
		}
	}
}
.pull-right {
	float: right;
}
.pull-left {
	float:left;
}
.clearfix {
	float: none;
	clear:both;
}

.webshot-badge {
	display:inline;
	margin:0 0.5em;
	font-family:$pretty-font-family;
	.information {
		display:none;
		background:rgba(0,0,0,0.25);
	}
	.badge-title, .information {
		font-size:0.8em;
		padding:0.3em 1em;
	}
	.badge-title {
		display:inline;
		cursor:pointer;
		background:green;
		color:white;
		border-radius:5px;
		box-shadow:inset 1px 1px 0px rgba(255,255,255,0.25), 2px 2px 0px rgba(0, 0, 0, 0.6);
	}
	&.active {
		.information {
			display:inline;
		}
		.badge-title {
			border-top-right-radius:0;
			border-bottom-right-radius:0;
			box-shadow:inset -1px -1px 1px rgba(0,0,0,0.75), inset 1px 1px 1px rgba(0,0,0,0.75);
		}
	}
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	cursor:pointer !important;
}
.channelSwitcher {
	width:100%;
	height:30px;
	position:relative;
}
#global-options {
	display:none;
	width:100%;
	height:100%;
	font-family:$pretty-font-family;
	padding:1em;
	h1 {
		margin-top:0;
	}
	.option {
		margin:1em;
	}
}

header {
	@include unselectable;
	@include panel;
	height:30px;
	z-index:100;
	padding:0 0 0 30px;

	button {
		font-size:0.8em;
	}

	.channel-selector {
		@include clearfix;

		> div {
			display:block;
			float:left;
		}
		position: absolute;
		bottom: 0;
		left: 0;
		padding:0 0 0.1em 1em;

		.channels, .join-channel {
			height:100%;
		}

		.channelBtn {
			@include clearfix;
			height:100%;
			text-transform:none;
			font-style:italic;
			margin-right:0.75em;
			padding:0;
			display:block;
			float:left;
			.channelName {
				height:100%;
				padding:0.25em 1em;
			}
			.channelName, .close {
				float:left;
				display: block;
				height:100%;
				vertical-align: middle;
				font-family: sans-serif;
			}
			.close {
				@include transition(all 0.25s ease-in-out);
				text-align: center;
				width:2em;
				font-size:1.3em;
				font-style:normal;
				background: $darkgrey;
				vertical-align: middle;
				color:#333;
				border:1px solid transparent;
				border-left:1px solid #222;
				&:hover {
					color:#aaa;
					background:rgba(255,255,255,0.15);
				}
			}

			&.activity {
				@include animation(activity2 2s infinite);
			}
			&.active {
				color:greenyellow;
			}
		}
		.join-channel {
			margin-left:1em;
			.channelName {
				color:#aaa;
				font-style: normal;
			}
		}
		input {
			margin-left:0.25em;
			display:none;
			padding:0.25em 1em;
			font-size:1em;
			width:15em;
			min-width:15em;
			border: 1px solid transparent;
		}
	}
}

.header {
	font-family:$pretty-font-family;
	position: relative;
	min-height:26px;
	z-index:2;
	.count {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.75em;
		div	{
			display:inline-block;
			margin-left: 0.5em;
			&.active {
				.value {
					color:green;
				}
			}
			&.total {
				.value {
					color:yellow;
				}
			}
		}
	}
}

#info-overlay {
	display: none;
}
#main-ui, #panes, #info-overlay {
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
	& > section {
		height:100%;
		width:100%;
		overflow: hidden;
		&.pinned-section {
			position: relative;
			float: left;
			width: 50%;
		}
	}
}


.media-opt-in {
	&.hidden {
		display:none;
	}

	position:absolute;
	top:40px;
	text-align: center;

  i {
  	@include transition(all 0.5s ease-out);
  	cursor:pointer;
  	display:block;
  	font-size:500%;
  }
  p {
  	padding: 0 1em;
  	margin:0;
  	margin-bottom: 2em;
  	font-family: $pretty-font-family;
  }
  .opting-button {
  	@include transition(all 0.5s ease-out);
  	cursor:pointer;
  	padding:1em;
  	margin-bottom:1em;
  	&:hover {
  		border-radius:5px;
  		background:rgba(0,0,0,0.25);
  		i {
  			color:$active-color;
  		}
  	}
  }
}

.channel-topic {
	font-family:$pretty-font-family;
}

#chatting {
	position: absolute;
	height:100%;
}

.chat-panel {
	position:relative;
	height:100%;
	& > div {
		height:100%;
		padding-bottom:0;
	}
}

.pin-button {
	position: absolute;
	z-index: 1000;
	font-size:1.5em;
	right:0.5em;
	top:0;
}

.chatChannel {
	height:100%;
	&.inactive {
		display:none;
	}
}

.button.encrypted {
	background:rgb(67, 100, 0);
	color: white;
}

.chatinput {
	width:100%;
	padding:1em 1em 0 1em;
	position:absolute;
	bottom:0;
	left:0;
	height:$chatinput-height;

	.chat-input-control {
		@include transition(background 0.25s ease-out, color 0.75s ease-out);
		position:relative;
		width:100%;
		height:3em;
		box-shadow:inset 2px 2px 1px rgba(0,0,0,0.55),inset -2px -2px 1px -1px rgba(0,0,0,0.3);
		overflow:hidden;
	}
	textarea {
		overflow:hidden;
		padding:0.75em 1em;
		font-size:1em;
		line-height:1.5em;
		position:absolute;
		top:0;
		left:0;
		outline:none;
		border:none;
		resize: none;
		width:100%;
		height:100%;
	}
}

.channel {
	height:100%;
	width:100%;
}
.button-group {
	height:100%;
	div, button {
		height:100%;
		float:left;
	}
	div, button {
		border-right:0px;
		&:hover {
			border-right:0px;
		}
	}
	button, button:hover {
		outline:none !important;
		border-bottom:none;
	}
}

.btn {
	cursor: pointer;
}

.channel-options {
	height:2em;
}
.channel-topic {
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.room-specific {
	height: 10%;
	width:100%;
	padding-bottom:1em;
}
.chatarea {
	position:relative;
	overflow:hidden;
	max-height:100%;
	width:100%;
	height:100%;
	padding-right:$supportbar-width;
	&.expanded {
		padding-right: 0;
	}
	.messages {
		padding:1em;
		padding-bottom:0;
		width:100%;
		height:100%;
		overflow-y:auto;
	}
}
.chatarea-contents {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.messages-pane {
	@include panel;
	padding-bottom: $chatinput-height;
}

.supportbar {
	height:100%;
	width: 0;
	.toggle-support-bar {
		display: block;
		position: absolute;
		left:-30px;
		top:50%;
		font-size: 3em;
		margin-top: -1em;
	}
	&.expanded {
		width: $supportbar-width;
		padding: 1em;
		.toggle-support-bar {
			left: -5px;
			display: none;
		}
	}
	&:hover .toggle-support-bar {
		display: block;
	}
	position:absolute;
	top:0;
	right:0;
	padding: 0em;
	padding-top:0px;

}
.userlist {
	@include transition(all 0.5s ease-in-out);
	height:30%;
	width:100%;
	overflow-y:auto;
	font-family: $pretty-font-family;

	.nick {
		max-width:12em;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	.body {
		padding-top:0.75em;
		font-size:1em;
		i {
			margin-left:0.25em;
			font-size:1.3em;
		}
	}
	.idle > .zzz {
		bottom:0;
		opacity:1;
		font-size:1em;
		opacity:1;
		color:#bbb;
	}
	.zzz {
		color:inherit;
		font-size:0.75em;
		letter-spacing:-0.15em;
		position:relative;
		bottom:0.5em;
		opacity:0.75;
	}
	.icon-phone {
		color:green;
	}

	&.maximized {
		height:90%;
		margin-bottom:-30px;
	}
}
.linklog {
	@include transition(all 0.5s ease-in-out);
	height:60%;
	width:100%;
	z-index:4;
	position:relative;
	overflow-y:auto;
	.media-scroll {
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		padding-top:30px;
	}
	.body {
		overflow-x:hidden;
		padding-right:10px;
		height:100%;
	}
	object {
		display:block;
		margin-bottom:1em;
		width:100%;
		height:auto;
	}
	a {
		display:block;
		margin-bottom:1em;
	}
	.options {
		position:absolute;
		height:100%;
		right:0;
		bottom:0;
		border-bottom:1px solid #444;
	}

	.maximizeMediaLog {
		display:none;
	}
	&.minimized {
		height:30px;
		overflow:hidden;
		.disableMediaLog, .clearMediaLog {
			display:none;
		} /* these aren't relevant while the media log is small */
		.maximizeMediaLog {
			display:block;
		}
	}

	&.not-initialized {
		.header .options {
			display:none;
		}
	}

}

.close-button {
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	display:inline-block;
	padding:0.5em 0.75em;
	font-size:0.8em;
	background:rgba(0,0,0,0.85);
}


.media-buttons {
	background: #222;
	font-size:0.8em;
	a {
		@include transition(all 0.25s ease-in-out);
		text-shadow:1px 1px 0px rgba(0,0,0,0.5);
		display:inline-block;
		color:#777;
		text-decoration: none;
		font-family:$pretty-font-family;
		margin:0.25em 0.5em;
		&:hover {
			color:#aaa;
		}
	}

	a.close {
		float:right;
	}

	/* tweaks to make icon sizes more consistent */
	.icon-external-link {
		font-size:1.1em;
	}
	.icon-collapse-alt, .icon-expand-alt {
		font-size:1.3em;
	}
	.icon-remove {
		font-size:1.3em;
	}
}

.youtubeEmbed {
	cursor: pointer;
	.imageThumbnail {
		@include transition(all 0.5s ease-in-out);
		opacity:0.55;
	}
	.play-icon {
		@include transition(all 0.5s ease-in-out);
		color: white;
		display: block;
		width: 100%;
		position: absolute;
		font-size: 5em;
		margin-top: 70px;
		text-align: center;
	}
	&:hover {
		.imageThumbnail {
			opacity:1;
		}
		.play-icon {
			color: #c22;
			opacity: 0;
		}
	}
	.video {
		display:none;
	}
}

.media-item {
	width:100%;
	max-width:100%;
	margin-bottom:1em;
	position: relative;
	.object {
		position:relative;
		z-index:1;
	}
	.close-button {
		z-index:2;
	}

	.media-buttons {
		font-size:0.9em;
	}

	.min {
		display:none;
	}
	&.minimized {
		.min {
			display:block;
		}
		.max {
			display:none;
		}
	}
}

.imageThumbnail {
	width:100%;
	max-width:100%;
	margin-bottom:1em;
	position:relative;

	.icon-youtube-play {
		@include transition(all 0.5s ease-in-out);
		font-size:5em;
		cursor:pointer;
		position: absolute;
		height: 100%;
		text-align: center;
		width: 100%;
		vertical-align: middle;
		padding-top: 25%;
		color:white;
		text-shadow: 3px 3px 1px rgba(0,0,0,0.85);
		&:hover {
			color:#CD332D;
		}
	}
	.media-object > a {
		display:block;
	}
	img {
		width:100%;
		height:auto;
	}
}

.unknown {
	color: orange;
}
.trusted {
	color: green;
}
.untrusted, .error, .errors {
	color: red;
}

hr {
	height: 1px;
	background: #333;
	border: 0;
	outline: 0;
}

.modal {
	textarea {
		font-size: 0.9em;
	}
}

.chatMessage {
	@include transition(all 0.25s ease-in-out);
	height:auto;
	position:relative;
	margin: 0;

	.pgp-armored-body {
		display: none;
	}
	.sub-icon {
		text-shadow: -1px 0px 0px white;
		top: 3px;
		left: 4px;
	}
	.fl {
		float:left;
		margin-right:10px;
	}
	&:nth-child(2n) {
		background:#2f2f2f;
		background:rgba(100,100,127,0.1);
	}
	&.highlight {
		background:#555;
		background:rgba(109,116,255,0.15);
		.time {
			color:#efefef;
		}
	}
	&.fromlog {
		background: #fafafa;
	}
	&.private.me, &.private {
		background:rgba(0,0,30,0.5);
		.private-icon {
			color:#00ffbb;
		}
	}
	& > div {
		vertical-align: top;
		display:inline-block;
		padding:0.25em 0.5em;
	}

	.body-text-area {
		.un-keyblock {
			display: none;
		}
		&.keyblocked {
			.body-content {
				display: none !important;
			}
			.un-keyblock {
				display: block;
			}
		}
	}

	.body {
		word-break:break-word;
		word-wrap:break-word;
		max-width:100%;
		pre {
			tab-size:3;
			white-space: pre-wrap;
			word-break:break-word;
		}
		width:100%;
		padding-left:$nick-width + 1em;
		padding-right:8em;

		border:1px solid transparent;
		&:focus {
			@include animation(border-pulse 1.5s 1s linear infinite alternate);
			border:1px solid #efefef;
			outline:none;
		}
	}
	.time {
		color:#666;
		position:absolute;
		top:0;
		right:0;
		width:$timestamp-width;
		text-align:right;
		white-space: nowrap;
		font-size:0.8em;
		padding-top:0.5em;
	}

	.nick {
		position:absolute;
		top:0;
		left:0;
		text-align: right;
		width:$nick-width;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		&.system {
			color:#CC2222;
		}
		&.me {
			color:yellow;
		}
		.nickname {
			display:inline;
			margin-left:0.5em;
			height: 1.4em;
		}
		.fa-stack {
			@include unselectable;
			top: -0.35em;
			height: 1.4em;
			width:0.5em;
		}
		> span {
			display: inline-block;
		}
		.transmitting {
			width: 10px;
			height: 10px;
			margin-right: 8px;
			display: none;
			position: relative;
			&.active {
				display: inline-block;
			}
		}
		> .github-nickname {
			display: none;
			font-size: 1.2em;
		}
	}

	.mention {
		font-weight: bold;
	}
	.time, .message-options {
		@include transition(opacity 0.5s ease-in-out);
	}
	.message-options {
		right:0;
		position:absolute;
		top:0;
		opacity:0;
		z-index:5;
		> div {
			display: inline-block;

		}
	}
	&:hover {
		.time {
			opacity:0;
		}
		.message-options {
			opacity:1;
		}
	}
	.private-icon {
		position:absolute;
		left:$nick-width;
	}

	&.context, &.context-persistent {
		opacity:1 !important;
		background: rgba(120,120,220,0.3) !important;
		color: rgb(120, 153, 34);
	}
}

.quotation {
	cursor:pointer;
	color:rgb(120, 153, 34); // 4chan greentext color
	&:visited {
		color:rgb(100, 103, 14); // 4chan greentext color
	}
}
.clearfix {
	display:block !important;
	clear:both;
}
.ident {
	font-family:sans-serif;
}
.ident.yes {
	color:green;
}
.ident.no {
	color:orange;
}
.operator {
	color:red;
}

.backdrop {
	@include panel;
	z-index:1000;
	background:rgba(0,0,0,0.75);
}
.modal {
	font-family:$pretty-font-family;
	position:relative;
	width:32em;
	background:#1d1f1f;
	box-shadow:inset -2px -2px 0px -1px rgba(155,225,255,0.1);
	padding:2em;
	height:32em;
	overflow:hidden;
	z-index:2;

	.modal-title {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		font-style: normal;
		width: 100%;
		background: #333;
		padding-left: inherit;
		line-height: 1.3em;
	}

	.close-button {
		@include unselectable;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		background: #333;
	}

	&.centered {
		top:50%;
		margin:auto;
		margin-top:-15em;
	}

	> .field {
		position:relative;
		z-index:2;
	}

	.field {
		label {
			display:inline-block;
			width:auto;
			margin-bottom: 0.5em
		}
		label.description {
			font-size:0.9em;
			float:right;
			color: #777;
		}
		input {

		}
		textarea {
			width: 100%;
			height: 6em;
			display: block;
			resize: none;
		}
	}

	.user-emblem {
		@include unselectable();
		@include panel;
		z-index:1;
		font-size: 300px;
		color: #1a1a1a;
		text-align: center;
	}

	section {
		display: none;
		&.active {
			display: block;
		}
	}
	.field {
		margin:1em 0 ;
	}
	input[type='text'], input[type='password'] {
		min-height:2em;
		height:2em;
		width:100%;
		padding:0.25em 1em;
	}
	button {
		text-transform: none;
	}
}

.crypto-key-popup {
	z-index:2;
	.anti-surveillance {
		@include unselectable();
		float:left;
		margin:0 0.25em 0 0;
		font-size: 6em;
		color: #1a1a1a;
		text-align: center;
		.fa-eye-slash {
			color:yellow;
		}
	}
}

.progress-bar {
	@include transition(all 0.25s ease-out);
	opacity:0;
	position:absolute;
	bottom:0;
	width:100%;
	height:10px;
	background:#333;
	.meter {
		background:green;
		position:absolute;
		top:0;
		left:0;
		width:0;
		height:100%;
	}
	&.active {
		z-index:1000;
		opacity:1;
	}
}
.user-stream {
	padding:1em;
	padding-bottom:2em;
	font-family:$pretty-font-family;
	.innards {
		background:black;
		position: relative;
		height:100%;
		width:100%;
		border-radius:10px;
	}
	position:relative;
	.nick {
		padding:0.5em 1em;
		background:black;
		border-top-left-radius:10px;
		border-bottom-right-radius:10px;
		position: absolute;
		top:0;
		left:0;
		z-index:2;
	}
	video {
		position: absolute;
		width:100%;
		height:100%;
		z-index: 1;
	}
}

.growl {
	display: none;
}
