.tooltip {
  z-index:1000;
  font-family: $pretty-font-family;
  color: white;
  $title-color: black;
  $arrow-width:10px;
  $arrow-height:5px;
  position: absolute;
  background: black;
  &.danger, &.error {
    background: $error;
  }
  &.success {
    background: $success;
  }
  color: white;
  margin-top:10px;
  width: 16em;
  font-size: 0.9em;
  border-radius: 0.5em;
  margin-left: -14em;
  text-align: center;

  &.from-left {
    margin-left: 0;
  }

  .title {
    margin: 0.25em;
    background: $title-color;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    font-weight:bold;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
  }
  .body {
    font-size:0.9em;
    margin: 0.5em 0.85em 0.7em 0.85em;
    word-break: break-word;
  }
  &::before {
    /* upward arrow */
    position: absolute;
    content: "";
    border-left: $arrow-width solid transparent;
    border-right: $arrow-width solid transparent;
    border-bottom: $arrow-height solid $title-color;
    border-top: none;
    width: 0px;
    height: 0px;
    box-sizing: content-box;
    top: -$arrow-height;
    right: 1em;
    margin-left: -$arrow-width;
  }
  &.on-top::before {
    /* downward arrow */
    position: absolute;
    content: "";
    border-left: $arrow-width solid transparent;
    border-right: $arrow-width solid transparent;
    border-top: $arrow-height solid $title-color;
    border-bottom: none;
    width: 0px;
    height: 0px;
    box-sizing: content-box;
    top: 100%;
    right: 1em;
    margin-left: -$arrow-width;
  }
  &.from-left::before, &.on-top.from-left::before {
    right: 14em;
  }
}
