body {
  &.suppress_identity_acknowledgements {
    .chatMessage.identity.ack {
      display:none;
    }
  }
  &.suppress_join {
    .chatMessage.join, .chatMessage.part {
      display:none;
    }
  }
  &.highlight_mine {
    .chatMessage.me {
      background: rgba(255, 251, 231, 1);
    }
    .chatMessage.private {
      background: $private;
    }
  }
  &.suppress_client {
    .chatMessage.client{
      display:none;
    }
  }
  &.show_mewl {
    .growl {
      display: block;
    }
  }
}
