body {
  &.suppress_identity_acknowledgements {
    .chatMessage.identity.ack {
      display:none;
    }
  }
  &.suppress_join {
    .chatMessage.join, .chatMessage.part {
      display:none;
    }
  }
  &.highlight_mine {
    .chatMessage.me {
      background:rgba(120,120,220,0.1);
    }
    .chatMessage.private {
      background:rgba(0,0,30,0.5);
    }
  }
  &.suppress_client {
    .chatMessage.client{
      display:none;
    }
  }
}
