<div class="webrtc-error">
	<span class="fa-stack">
		<i class="fa fa-ban fa-stack-2x error"></i>
		<i class="fa fa-phone fa-stack-1x"></i>
	</span>
	<div class="reason no-auth">
		<p>You aren't authenticated to talk in this channel.</p>
		<p>Move along, nothing to see here.</p>
	</div>
	<div class="reason no-webrtc">
		<p>It seems your browser doesn't support WebRTC</p>
		<p>Please try a new version of Chrome or Firefox Beta.</p>
	</div>
	<div class="reason generic">

	</div>
</div>

<div class="no-call">
	<div class="call-in-progress call-status">
		<h1>Call in progress.</h1>
		<h2>Join in!</h2>
		<div class="join-call-buttons">
			<div class="btn join-call audio video">
				<i class="icon fa fa-video-camera"></i>
				<p class="action">Video + Audio</p>
			</div>
			<div class="btn join-call audio">
				<i class="icon fa fa-microphone"></i>
				<p class="action">Audio Only</p>
			</div>
		</div>
	</div>
	<div class="no-call-in-progress call-status">
		<h1>No call in progress.</h1>
		<h2>Start one?</h2>
		<div class="join-call-buttons">
			<div class="btn join-call audio video">
				<i class="icon fa fa-video-camera"></i>
				<p class="action">Video + Audio</p>
			</div>
			<div class="btn join-call audio">
				<i class="icon fa fa-microphone"></i>
				<p class="action">Audio Only</p>
			</div>
		</div>
	</div>
</div>

<div class="in-call">
	<video class="you" class="flip" autoplay width="136" height="103" style="position: absolute; left: 0px; bottom: 0px;"></video>

	<div class="videos">
	</div>

	<div class="call-controls">
		<div class="buttons three">
			<button class="hang-up">
				<span>
					<i class="fa fa-phone" style="font-size: 200%"></i>
				</span>
			</button>
			<button class="mute-audio unmuted">
				<span class="fa-stack">
					<i class="fa fa-stack-2x fa-ban error disabled-state"></i>
					<i class="fa fa-stack-1x fa-microphone"></i>
				</span>
			</button>
			<button class="mute-video unmuted">
				<span class="fa-stack">
					<i class="fa fa-stack-2x fa-ban error disabled-state"></i>
					<i class="fa fa-stack-1x fa-video-camera fa-stack-1x"></i>
				</span>
			</button>
		</div>
	</div>
</div>
