node_modules
public/images
.sass-cache
*.apk
public/css
config.js
app.min.js
vendor.min.js
vendor.js
src/server/config.coffee
public/sandbox/*
public/js/*
*.sublime-*
client/lib/*
src/client/lib/*
Vagrantfile
.vagrant
npm-debug.log
.DS_Store
nw-build/
app.nw
nw/
build/
vendor
browserified.js
