node_modules
.sass-cache
public/css
public/*.js
*.swp
client/app.min.js
public/index.build.html
.libs
lib
.css
.js
public/sandbox
.npm-debug.log
server/config.js
*.sublime-*
client/lib/*
src/client/lib/*
Vagrantfile
.vagrant
npm-debug.log
.DS_Store
nw-build/
app.nw
nw/
build/
vendor
