<div class="user-data-popup modal centered">
	<div class="nickname">
		<%- nick %>
	</div>

	<% if (email) { %>
		<a href="mailto:<%- email %>">
			<%- email %>
		</a>
	<% } %>

	<% if (website_url) { %>
		<a href="<%- website_url %>" target="_blank">
			<%- website_url %>
		</a>
	<% } %>



	<div class="user-emblem">
		<% if (gender) { %>
			<% if (gender === "male") { %>
			<i class="icon-male"></i>
			<% } else { %>
			<i class="icon-female"></i>
			<% } %>
		<% } else { %>
			<i class="icon-user"></i>
		<% } %>
	</div>
</div>