<button data-channel='wat' class='j-channel-btn channel-button button closable'>
	<div class="activity-indicator"></div>
	<div class="channel-button-content">
		<span class="channel-name">
			
		</span>
		<i class="close button fa fa-times"></i>
		<div class="topic"></div>
		<div class="channel-button-body">
			<div class="j-usersummary users">
				<span class="active"></span><span class="delimiter">/</span><span class="total"></span>
				<i class="fa fa-users"></i>
			</div>
		</div>
	</div>
</button>