!!! 5
html
	head
		title Chat
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		link(rel='/main.css')
	body
		header
		section
			#chatlog
			#chatinput
				textarea