<div class="tools">
	<div class="tool info">
		<i class="icon-info"></i>
		<div class="tool-options">
			<div class="tool-options-contents">
				<div class="explanation">"[" increases brush size. "]" decreases brush size. "," Scrolls the brushes forward, "." scrolls them backward. </div>
			</div>
		</div>
	</div>
	<div class="tool pen tool-highlight"><i class="icon-pencil"></i></div>
	
	<div class="tool eraser"><i class="icon-eraser"></i></div>
	
	<div class="tool color">
		<i class="icon-tint"></i>
		<div class="tool-options">
			<div class="tool-options-contents">
			</div>
		</div>
	</div>
	<!--
	<div class="tool textarea"><i class="icon-quote-left"></i></div>
	-->
	<div class="tool trash"><i class="icon-trash"></i></div>
</div>
<div class="drawarea">
	<div class="canvas-area">
		<canvas class="background" width="1000" height="1000">

		</canvas>
		<div class="paper">

		</div>
	</div>
</div>