<div class="codelog">
	<div class="editor">
		<div class="explanation">HTML/CSS</div>
		<div class="textarea_container">
			<textarea class="htmlEditor" name="html"></textarea>
		</div>
	</div>
	<div class="editor">
		<div class="explanation">JavaScript</div>
		<div class="textarea_container">
			<textarea class="jsEditor" name="code"></textarea>
		</div>
	</div>
</div>
<div class="replPANE">
	<div class="repl-options">
		<button class="fancy evaluate">Evaluate</button>
		<input type="checkbox" class="livereload" /> <label>LiveReload?</label>
		<button class="fancy refresh pull-right">
			<i class="icon fa fa-refresh"></i>
			Refresh
		</button>
	</div>
	<div class="htmlREPL repl-result">
		<h2>HTML</h2>
		<iframe class="jsIframe" src="" sandbox="allow-scripts"></iframe>
	</div>
	<div class="jsREPL repl-result">
		<h2>Result</h2>
		<div class="output"></div>
	</div>
</div>
