<div class="crypto-key-popup modal centered">
	<h1>Encrypt your chats!</h1>
	<span class="anti-surveillance icon-stack">
		<i class="icon-eye-open base"></i>
		<i class="icon-ban-circle icon-stack-base error"></i>
	</span>
	<p>Don't trust echoplexus.</p>
	<p class="death-warning"><strong>The encryption provided by echoplexus is not guaranteed to be secure.  If you wish to share information that may put your life in jeopardy, don't.</strong></p>
	<p>Enter a password below to encrypt your activity in channel <span class="channelName"><%- channelName %>:</span></p>
	<div class="field">
		<input class="crypto-key" type="password"></input>
	</div>
	<div class="field">
		<button class="set-encryption-key">I understand.  I'll be careful.</button>
		<button class="cancel">Nevermind.</button>
	</div>
</div>