<div class="chatMessage <%= classes %>" rel="<%= timestamp %>" data-sequence="<%= mID %>">
	<a name="<%- room + mID %>"></a>
	<div class="message-options">
		<% if (mine && mID) { %>
		<div class="chatMessage-edit">
			<i class="icon-pencil"></i>
		</div>
		<% } %>
	</div>
	<div data-timestamp="<%= timestamp %>" class="time"><%- humanTime %></div>
	<div class="nick <%= nickClasses %>" title="<%- nickname %>" style="color: <%= color %>">
		<%- nickname %>
		<div class="nick-decorators">
			<i class="icon-reply"></i>
			<% if (identified) { %>
			<i class="icon-lock ident yes"></i>
			<% } %>
		</div>
	</div>
	<div class="body">
		<% if (isPrivateMessage) { %>
			<span class="private-icon" title="This is a private message">
				<i class="icon-long-arrow-right"></i>
			</span>
			<span class="message-recepient">
				<%- directedAt %>
			</span>:
		<% } %>

		<%= body %>
	</div>
</div>