<div class="webrtc-error">
	<span class="icon-stack">
		<i class="icon-phone base"></i>
		<i class="icon-ban-circle icon-stack-base error"></i>
	</span>
	<div class="reason no-auth">
		<p>You aren't authenticated to talk in this channel.</p>
		<p>Move along, nothing to see here.</p>
	</div>
	<div class="reason no-webrtc">
		<p>It seems your browser doesn't support WebRTC</p>
		<p>Please try a new version of Chrome or Firefox Beta.</p>
	</div>
	<div class="reason generic">

	</div>
</div>

<div class="no-call">
	<div class="btn call-in-progress call-status join">
		<i class="icon-phone ringing"></i>
		<p class="explanation">Call in progress.</p>
		<p class="action">Click to join!</p>
	</div>
	<div class="btn no-call-in-progress call-status join">
		<i class="icon-phone idle"></i>
		<p class="explanation">No call currently in progress.</p>
		<p class="action">Click to start one.</p>
	</div>
</div>

<div class="in-call">
	<video class="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>

	<div class="videos">
	</div>

	<div class="call-controls">
		<div class="buttons three">
			<button class="hang-up">
				<span>
					<i class="icon-phone" style="font-size: 200%"></i>
				</span>
			</button>
			<button class="mute-audio unmuted">
				<span class="icon-stack">
					<i class="icon-microphone"></i>
					<i class="icon-ban-circle icon-stack-base error"></i>
				</span>
			</button>
			<button class="mute-video unmuted">
				<span class="icon-stack">
					<i class="icon-facetime-video"></i>
					<i class="icon-ban-circle icon-stack-base error"></i>
				</span>
			</button>
		</div>
	</div>
</div>