<div class="tools">
	<div class="action-btn tool pen tool-highlight">
		<i class="fa fa-pencil pencil-button"></i>
	</div>
	<div class="action-btn tool eraser">
		<i class="fa fa-eraser eraser-button"></i>
	</div>
	<div class="action-btn tool color">
		<input class="colorpicker"></input>
	</div>
	<div class="action-btn tool trash"><i class="fa fa-trash-o trash-button"></i></div>
</div>
<div class="drawarea">
	<div class="canvas-area">
		<canvas class="background" width="1000" height="1000">

		</canvas>
		<div class="paper">

		</div>
	</div>
</div>
