<div class="tools">
	<div class="tool info">
		<i class="fa fa-info-circle"></i>
		<div class="tool-options">
			<div class="tool-options-contents">
				<div class="explanation">"[" increases brush size. "]" decreases brush size. "," Scrolls the brushes forward, "." scrolls them backward. </div>
			</div>
		</div>
	</div>
	<div class="tool pen tool-highlight"><i class="fa fa-pencil pencil-button"></i></div>

	<div class="tool eraser"><i class="fa fa-eraser eraser-button"></i></div>

	<div class="tool color">
		<i class="icon fa fa-tint tint-button"></i>
		<div class="tool-options">
			<div class="tool-options-contents">
			</div>
		</div>
	</div>
	<div class="tool trash"><i class="fa fa-trash-o trash-button"></i></div>
</div>
<div class="drawarea">
	<div class="canvas-area">
		<canvas class="background" width="1000" height="1000">

		</canvas>
		<div class="paper">

		</div>
	</div>
</div>
