* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html, body {
	background:#222;
	color:#fefefe;
	font-family:monospace;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
a {
	color:white;
}
a:hover {
	color:white;
}
a:visited {
	color:#444;
}
#main {
	width:100%;
	height:100%;
	max-height:100%;
	max-width:100%;
}
#chatarea {
	height:90%;
}
#chatarea > div {
	height:100%;
}
#chatinput {
	padding:1em;
	height:10%;
}
#chatlog {
	overflow-y:auto;
	padding:1em;
	max-height:100%;
	width:80%;
	float:left;
}
#linklog {
	width:20%;
	float:left;
	padding:1em;
	max-height:100%;
	z-index:4;
	position:relative;
	overflow-y:scroll;
}
.imageThumbnail {
	width:100%;
	max-width:100%;
	margin-bottom:1em;
}
.imageThumbnail a {
	display:block;
}
.imageThumbnail img {
	width:100%;
	height:auto;
}
.chatMessage, .imageThumbnail img {
	border-radius:5px;
}
.chatMessage {
	margin:0.5em 0;
	padding:0.5em;
	background:#303030;
	clear:both;
	box-shadow:1px 1px 1px #151515;
	text-shadow:1px 1px 1px #151515;
}
.chatMessage > div {
	display:inline-block;
	padding:0.25em 0.5em;
}
.chatMessage .time {
	color:#666;
}
.chatMessage .nick {
	color:#53D940;
	width:8em;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
#chatinput textarea {
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	padding:0.45em;
	border-radius:0.5em;
}
#ghetto_templates {
	display:none;
}
.clearfix {
	display:block !important;
	clear:both;
}