.growl {
	@include transition(all 0.25s ease-in);
	display:block;
	opacity:0;
	position:absolute;
	background:#111;
	background:rgba(0,0,0,0.95);
	padding:1em;
	min-width:10em;
	max-width:40em;
	z-index:10000;
	font-size:0.95em;
	overflow:hidden;
	font-family:$pretty-font-family;
	color:#aaa;
	border-radius:10px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.65);

	.title {
		font-weight: bold;
	}
	.body {
		font-weight: normal;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
	}

	// positioning:
	&.top {
		top:1em;
	}
	&.bottom {
		bottom:1em;
	}
	&.left {
		left:1em;
	}
	&.right {
		right:1em;
	}

	// actually show it
	&.shown {
		opacity:1;
	}
}