<div class="crypto-key-popup modal centered">
	<div class="close close-button">
		<i class="fa fa-times"></i>
	</div>
	<h1>Encrypt your chat contents!</h1>
	<span class="anti-surveillance">
		<i class="fa fa-lg fa-eye-slash"></i>
	</span>
	<p>Don't trust echoplexus.</p>
	<p class="death-warning"><strong>The encryption provided by echoplexus is not guaranteed to be secure.  If you wish to share information that may put your life in jeopardy, don't.</strong></p>
	<p>Enter a password below to encrypt your activity in channel <span class="channelName"><%- channelName %>.</span>  Share this secret with your friends via a secure channel (ideally, in person).</p>
	<p><strong>Do not share this password through echoplexus chat.</strong></p>
	<div class="field">
		<input class="crypto-key" type="password"></input>
	</div>
	<div class="field">
		<button class="set-encryption-key action-btn action-btn-primary">I understand.  I'll be careful.</button>
		<button class="cancel action-btn">Nevermind.</button>
	</div>
</div>
