<div class="pin-button">
	<i class="btn pin"></i>
</div>
<div class="chatarea">
	<div class="chatarea-contents">
		<div class="messages-pane">
			<div class="messages">
				<div class="chatMessage beginning-of-time">The beginning of time.  Nothing exists beyond this point.</div>
			</div>
		</div>
	</div>
</div>
<div class="supportbar expanded">
	<div class="toggle-support-bar">
		<i class="btn fa fa-caret-right"></i>
	</div>
	<div class="userlist">
		<div class="header">
			<h2>Users</h2>
		</div>
		<div class="body">

		</div>
	</div>
</div>
