<div class="chatMessage <%- classes %>" rel="<%- timestamp %>" data-sequence="<%- mID %>">
	<a name="<%- room + mID %>"></a>
	<div data-timestamp="<%- timestamp %>" class="time"></div>
	<div class="nick <%- nickClasses %>" style="color: <%- color %>">
		<div class="transmitting">
			<span class="csspinner double-up"></span>
		</div>
		<% if (is_encrypted) { %>
		<span class="fa-stack" title="Shared secret encrypted">
			<i class="fa fa-key fa-stack-1x encrypted"></i>
		</span>
		<% } %>

		<% if (pgp_encrypted) { %>
		<span class="fa-stack" title="PGP encrypted">
			<i class="trusted fa fa-lock fa-stack-1x encrypted"></i>
		</span>
		<% } %>

		<% if (pgp_verified == "signed") { %>
		<span
			class="pgp-verification-icon fa-stack"
			title="Signature success: This message was signed by key with fingerprint <%- fingerprint %>."
			data-fingerprint="<%- fingerprint %>">
			<i class="fa fa-user fa-stack-1x"></i>
			<i class="<%- trust_status %> sub-icon fa fa-check fa-stack-1x"></i>
		</span>
		<% } else if (pgp_verified == "signature_failure") { %>
		<span class="fa-stack" title="Signature failure: This message cannot be reliably linked to this user.">
			<i class="fa fa-user fa-stack-1x"></i>
			<i class="sub-icon death-warning fa fa-times fa-stack-1x"></i>
		</span>
		<% } else if (pgp_verified == "not_signed") { %>
		<span class="fa-stack" title="No signature was provided">
			<i class="fa fa-user fa-stack-1x"></i>
			<i class="sub-icon death-warning fa fa-ban fa-stack-1x"></i>
		</span>
		<% } else if (pgp_verified == "unknown_public_key") { %>
		<span class="fa-stack" title="Cannot attempt to verify signature; unknown public key for fingerprint <%- fingerprint %>.">
			<i class="fa fa-user fa-stack-1x"></i>
			<i class="sub-icon unknown fa fa-question fa-stack-1x"></i>
		</span>
		<% } %>
		<span class='github-nickname'>
			<i class="fa fa-github"></i>
		</span>
		<span class="nickname" title="">
		</span>
	</div>
	<div class="message-options">
		<% if (pgp_armored) { %>
		<div class="btn toggle-armored">
			<span>PGP</span>
		</div>
		<% } %>
		<% if (mID) { %>
		<div class="btn reply-button">
			<i class="fa fa-reply"></i>
		</div>
		<% } %>
		<% if (mine && mID) { %>
		<div class="btn chatMessage-edit">
			<i class="fa fa-pencil"></i>
		</div>
		<% } %>
	</div>
	<div class="body">
		<% if (isPrivateMessage) { %>
			<span class="private-icon" title="This is a private message.  Only people who had your nickname at the time of sending have received it.">
				<i class="fa fa-long-arrow-right"></i>
			</span>
		<% } %>

		<div class="body-text-area">
			<% if (pgp_armored) { %>
			<span class="pgp-armored-body">
				<%= pgp_armored %>
			</span>
			<% } %>
			<span class="body-content">
			</span>
			<span class="un-keyblock">
				<div class="webshot-badge">
					<div class="badge-title">
						<i class="icon fa fa-unlock-alt"></i>
						Unlock PGP Keypair
					</div>
				</div>
			</span>
		</div>
	</div>
</div>
