<div class="pin-button">
	<i class="btn pin"></i>
</div>
<div class="chatarea">
	<div class="chatarea-contents">
		<div class="messages-pane">
			<div class="messages">
				<div class="chatMessage">The beginning of time.  Nothing exists beyond this point.</div>
			</div>
		</div>
	</div>
</div>
<div class="supportbar expanded">
	<div class="toggle-support-bar">
		<i class="btn fa fa-caret-right"></i>
	</div>
	<div class="room-specific">
		<div class="channel-topic">
			Topic: <span class="value">...</span>
		</div>
	</div>
	<div class="userlist <%- userlistClasses %>">
		<div class="header">
			<h2>Users</h2>
			<div class="count">
				<div class="active">
					<span class="value"></span> active
				</div>
				<div class="total">
					<span class="value"></span> total
				</div>
			</div>
		</div>
		<div class="body">

		</div>
	</div>
	<div class="linklog <%- linklogClasses %>">
		<div class="header">
			<h2>Media & Links</h2>
			<div class="options">
				<div class="button-group">
					<button class="fancy maximizeMediaLog">Enable</button>
					<div>
						<button class="fancy disableMediaLog">Disable</button>
					</div>
					<div>
						<button class="fancy clearMediaLog">Clear</button>
					</div>
				</div>
			</div>
		</div>
		<div class="media-scroll">
			<div class="body">
			</div>
			<div class="media-opt-in <%- optInClasses %>">
				<div class="opting-button opt-in">
					<i class="fa fa-cloud-download"></i>
					<p>Automatically embed media (image links, website previews, youtube videos)?</p>
					<p class="warn"><strong>This can reduce your anonymity.</strong></p>
				</div>
				<div class="opting-button opt-out">
					<i class="fa fa-umbrella"></i>
					<p>Not for this channel...</p>
				</div>
			</div>
		</div>
		<div class="drag-staging">
			<div class="staging-area">

			</div>
			<div class="cancel-upload">
				<p>Cancel</p>
			</div>
			<div class="upload">
				<i class="fa fa-upload"></i>
				<p>Confirm Upload</p>
			</div>
		</div>
		<div class="drag-mask"></div>
		<div class="progress-bar">
			<div class="meter"></div>
		</div>
	</div>
</div>
