<div class="chatMessage <%- classes %>" rel="<%- timestamp %>" data-sequence="<%- mID %>">
	<a name="<%- room + mID %>"></a>
	<div data-timestamp="<%- timestamp %>" class="time"><%- humanTime %></div>
	<div class="nick <%- nickClasses %>" style="color: <%- color %>">
		<% if (is_encrypted) { %>
		<i class="fa fa-key encrypted"></i>
		<% } %>

		<% if (pgp_encrypted) { %>
		<i class="fa fa-lock encrypted"></i>
		<% } %>

		<% if (identified) { %>
		<i class="fa fa-lock ident yes"></i>
		<% } %>

		<% if (pgp_verified) { %>
		<i class="pgp-verification-icon <%- trust_status %> fa fa-check-circle-o" data-fingerprint="<%- fingerprint %>" title="PGP Fingerprint: <%- fingerprint %>"></i>
		<% } else if (fingerprint && !pgp_verified) { %>
		<i class="pgp-verification-failure-icon fa fa-times" data-fingerprint="<%- fingerprint %>" title="PGP Fingerprint: <%- fingerprint %>"></i>
		<% } %>
		<%- nickname %>
	</div>
	<div class="message-options">
		<% if (pgp_armored) { %>
		<div class="btn toggle-armored">
			<span>PGP</span>
		</div>
		<% } %>
		<% if (mID) { %>
		<div class="btn reply-button">
			<i class="fa fa-reply"></i>
		</div>
		<% } %>
		<% if (mine && mID) { %>
		<div class="btn chatMessage-edit">
			<i class="fa fa-pencil"></i>
		</div>
		<% } %>
	</div>
	<div class="body">
		<% if (isPrivateMessage) { %>
			<span class="private-icon" title="This is a private message.  Only people who had your nickname at the time of sending have received it.">
				<i class="fa fa-long-arrow-right"></i>
			</span>
		<% } %>

		<% if (pgp_armored) { %>
		<span class="pgp-armored-body">
			<%= pgp_armored %>
		</span>
		<% } %>
		<span class="body-content">
			<%= body %>
		</span>
	</div>
</div>
