<div class="header">
  <h2>Media &amp; Links</h2>
  <div class="options">
    <div class="button-group">
      <button class="maximizeMediaLog action-btn">
        <i class="fa fa-chevron-up"></i>
      </button>
      <button class="disableMediaLog action-btn">
        <i class="fa fa-chevron-down"></i>
      </button>
      <button class="clearMediaLog action-btn action-btn-delete">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
</div>
<div class="media-scroll">
  <div class="body">
  </div>
  <div class="media-opt-in">
    <div class="opting-button opt-in">
      <i class="fa fa-cloud-download"></i>
      <p>Automatically embed media (image links, website previews, youtube videos)?</p>
      <p class="warn"><strong>This can reduce your anonymity.</strong></p>
    </div>
    <div class="opting-button opt-out">
      <i class="fa fa-umbrella"></i>
      <p>Not for this channel...</p>
    </div>
  </div>
</div>
<div class="drag-staging">
  <div class="staging-area">

  </div>
  <div class="flex-buttons">
    <button class="action-btn cancel-upload">
      Cancel
    </button>
    <button class="action-btn action-btn-primary upload">
      <i class="fa fa-upload"></i>
      Upload
    </button>
  </div>
</div>
<div class="drag-mask"></div>
<div class="progress-bar">
  <div class="meter"></div>
</div>
