<div class="modal centered">
  <div class="close close-button">
    <i class="fa fa-times"></i>
  </div>
  <!-- intro -->
  <section class="intro active">
    <h1>Pretty Good Privacy &ndash; PGP</h1>
    <p>To better secure your identity, you can choose to use a PGP key to sign and/or encrypt your messages.  This can eliminate the need to share a secret to exchange messages securely, which is prone to user error and forgetfulness.</p>
    <p>After selecting a keypair, you can choose to sign all outgoing messages.  Any message you send while signed <a href="https://blog.echoplex.us/2014/03/05/echoplexus-and-pgp/" target="_blank">can be verified by others as having been sent by you</a>.</p>
    <p>If you're chatting with other people who have also supplied PGP keys, you can also more strongly encrypt your communications.</p>
    <div class="field">
      <button class="generate-keypair action-btn action-btn-primary">Generate a keypair</button>
      <button class="use-own action-btn">Use a keypair I supply</button>
    </div>
    <div class="reusing-keys-section">
      <hr>
      <p>Keys you've used in the past:</p>
      <div class="field">
        <select id="key-to-reuse">

        </select>
      </div>
      <div class="field">
        <button class="re-use action-btn action-btn-primary">Re-use this key</button>
      </div>
    </div>
  </section>
  <!-- generate -->
  <section class="generate-keypair">
    <h1>Generate a keypair</h1>
    <div class="field">
      <label for="pgp-key-type">Key Type:</label>
      <span>RSA</span>
    </div>
    <div class="field">
      <label for="pgp-key-size">Key Size:</label>
      <select id="pgp-key-size">
        <option value="1024">1024</option>
        <option value="2048" selected>2048</option>
        <option value="4096">4096</option>
      </select>
      <label for="pgp-key-size" class="description">bits</label>
    </div>
    <div class="field">
      <label for="pgp-name">Name:</label>
      <label for="pgp-name" class="description">optional</label>
      <input id="pgp-name" type="text" placeholder="Optional human name">
    </div>
    <div class="field">
      <label for="pgp-email">Email:</label>
      <label for="pgp-email" class="description">optional</label>
      <input id="pgp-email" type="text" placeholder="Optional human email">
    </div>
    <div class="field">
      <label for="pgp-passphrase-challenge">Passphrase:</label>
      <label for="pgp-passphrase-challenge" class="description">optional for short-lived ephemeral identities</label>
      <input id="pgp-passphrase-challenge" type="password" placeholder="Optional passphrase required to unlock your keypair">
    </div>
    <div class="field">
      <p>Name and email fields are always publicly visible!  They can strengthen your identity, but weaken your anonymity.</p>
      <button class="finalize-generate-keypair action-btn action-btn-primary">Generate</button>
      <button class="j-cancel action-btn">Nevermind</button>
    </div>
  </section>
  <!-- generating -->
  <section class="pgp-generating">
    <h1>Generating keypair</h1>
    <span class="csspinner block center double-up"></span>
    <p>Your browser may lock up temporarily!  Please wait, as this may take a while.</p>
  </section>
  <!-- options -->
  <section class="pgp-options">
    <h1>PGP Options</h1>
    <div class="field">
      <input id="pgp-sign-outgoing" type="checkbox" checked>
      <label for="pgp-sign-outgoing">Sign outgoing messages</label>
      <p>If you sign your messages, the fingerprint of your public key will always be sent in plaintext even if using shared secret encryption.  You don't really need to worry about this.</p>
    </div>
    <div class="field">
      <input id="pgp-encrypt-outgoing" type="checkbox">
      <label for="pgp-encrypt-outgoing">Encrypt outgoing messages to trusted people</label>
      <p>This option will encrypt your chat using the public key of each currently connected <strong class="trusted">trusted</strong> recipient.</p>
      <p>PGP encrypted messages are <strong>never</strong> persisted on the server.</p>
      <p>To trust someone, simply click their key in the userlist and they will receive any future PGP encrypted messages from you.</p>
    </div>
    <div class="field">
      <button class="view-key-information action-btn">Keypair Information</button>
      <button class="stop-using action-btn">Stop using PGP</button>
    </div>
  </section>
  <!-- keypair info -->
  <section class="pgp-keypair-information">
    <h1>Keypair Summary</h1>
    <div class="field">
      <label>User ID:</label>
      <span class="pgp-user-id"></span>
    </div>
    <div class="field">
      <label>Fingerprint</label>
      <span class="pgp-fingerprint"></span>
    </div>
    <div class="field">
      <label for="pgp-armored-private">Armored Private Key</label>
      <textarea id="pgp-armored-private" readonly></textarea>
    </div>
    <div class="field">
      <label for="pgp-armored-public">Armored Public Key</label>
      <textarea id="pgp-armored-public" readonly></textarea>
    </div>
    <p>Do not lose your armored keys!  Copy them and save them somewhere safe.</p>
    <div class="field">
      <button class="view-pgp-options action-btn">PGP Options</button>
      <button class="destroy-keypair action-btn action-btn-delete">
        <i class="fa fa-trash-o"></i>
        Destroy Keypair
      </button>
    </div>
  </section>
  <!-- user supplied keypair -->
  <section class="pgp-user-supplied">
    <h1>Supply your own keypair</h1>
    <p class="death-warning">If you choose to supply your own key, be sure that it's one you are comfortable with losing.</p>
    <div class="field">
      <label for="pgp-user-supplied-armored-private">Armored Private Key</label>
      <textarea id="pgp-user-supplied-armored-private" placeholder="-----BEGIN PGP PRIVATE KEY BLOCK----- ..."></textarea>
    </div>
    <div class="field">
      <label for="pgp-user-supplied-armored-public">Armored Public Key</label>
      <textarea id="pgp-user-supplied-armored-public" placeholder="-----BEGIN PGP PUBLIC KEY BLOCK----- ..."></textarea>
    </div>
    <div class="field">
      <button class="use-key action-btn action-btn-primary">Use these keys</button>
      <button class="j-cancel action-btn">Nevermind</button>
    </div>
    <div class="errors">

    </div>
  </section>
</div>
